body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.sidebar {
    background-color: #343a40;
    height: 100vh;
    padding: 15px;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}
.sidebar a:hover {
    background-color: #495057;
}
.table-container {
    margin-top: 20px;
}
.btn-custom {
    background-color: #20c997 !important;
    color: white !important;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 1400px;
}
.btn-custom:hover {
    background-color: #198754 ;
    color: white;
}
.table {
    background-color: white;
}
.btn-delete {
    background-color: #dc3545;
    color: white;
}
.btn-update {
    background-color: #ffc107;
    color: white;
}
